.testimonials {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.testimonials-h {
  color: hsl(210, 4%, 67%);
  margin-bottom: 3rem;
}

.testimonials-grid {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 900px) {
  .testimonials-grid {
    flex-direction: column;
  }

  .testimonials-h {
    margin-top: 2rem;
  }
}
